# Database
DATABASE_URL="postgresql://dev:devdev@localhost:5432/mapper_development?pool=5&timeout=5000"

# CORS
FRONTEND_URL="http://localhost:8080"

# JWT
## run `$ bin/rake secret` to generate a secret
SESSION_SECRET=""
## 
REDIS_URL=""


# Mailer
MAILER_FROM="noreply@feminizidmapper.org"
