# Database
DATABASE_URL="postgresql://dev:devdev@localhost:5432/mapper_development?pool=5&timeout=5000"

# CORS and COOKIES
FRONTEND_URL="http://localhost:8080"
BACKEND_URL="http://localhost:3000"

# JWT
## run `$ bin/rake secret` to generate a secret
SESSION_SECRET=""
## 
REDIS_URL="redis://localhost:6379/0"


# Mailer
MAILER_FROM="noreply@feminizidmapper.org"
